.card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content .texts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text-purple {
  color: #6941c6;
  font-size: 14px;
  font-weight: 500;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.description {
  color: #667085;
}

button {
  padding: 2px 10px;
  border-radius: 16px;
  font-size: 14px;
}

.purple-btn {
  background-color: #f9f5ff;
  color: #6941c6;
}

.blue-btn {
  background-color: #eef4ff;
  color: #3538cd;
}

.red-btn {
  color: #c11574;
  background-color: #fdf2fa;
}


.card.variant-2 {
    flex-direction: row;
}

.card.variant-2 img {
    width: 300px;
}