@import url("root.css");

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid rgba(128, 0, 128, 0.427) */
}

.justify-center {
  justify-content: center !important;
}

nav {
  width: 100%;
  margin-top: 30px;
}

nav .logo {
  font-weight: 800;
  font-size: var(--navbar-font-size);
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-items {
  margin: 0;
  display: flex;
  list-style: none;
  gap: 14px;
}

.list-items li {
  padding: 8px;
}

.list-items a {
  font-size: var(--navbar-font-size);
  color: var(--text-color);
  text-decoration: none;
}

.nav-icon {
  padding: 8px 16px;
  border-radius: 99999px;
  background-color: black;
  display: flex;
  gap: 16px;
}

.nav-icon .box {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 9999px;
}

.hero-text {
  margin-top: 50px;
  font-size: 280.8px;
  font-weight: 700;
  color: #1a1a1a;
  text-transform: uppercase;
}

.card-wrapper {
  width: 550px;
  margin: 20px;
}

.card-header {
  height: 228px;
  background-color: #eef4ff;
}

.text-purple {
  color: #6941c6;
  font-size: 14px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.description {
  color: #667085;
  font-size: 16px;
}

button {
  padding: 2px 10px;
  border-radius: 16px;
  font-size: 14px;
}

button.btn-purple {
  background-color: #f9f5ff;
  color: #6941c6;
}

button.btn-blue {
  background-color: #eef4ff;
  color: #3538cd;
}

button.btn-red {
  background-color: #fdf2fa;
  color: #c11574;
}

.card-content {
  margin-top: 32px;
}

.buttons {
  margin-top: 24px;
}

.card-texts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
