@import url("./root.css");
@import url("./cards.css");

nav {
  width: 100%;
}

.justify-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.col-x-half {
  width: 50%;
}

.col-y-half {
  height: 50%;
}

.container {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  margin-top: 30px;
}

.list-items {
  display: flex;
  gap: 14px;
  /* list-style */
  list-style: none;
  margin: 0;
  align-items: center;
}

.list-items li {
  padding: 8px;
}

.list-items a {
  /* text-decoration-line: underline, overline, line-through */
  /* 
    text-decoration-line: line;
    text-decoration-style: double;
    text-decoration-color: red; */

  /* text-decoration: overline wavy blue; */
  text-decoration: none;
  color: black;
}

.navbar-icon {
  padding: 8px 16px;
  border-radius: 999px;
  display: flex;
  gap: 16px;
  background-color: #000;
}

.navbar-icon .icon {
  width: 24px;
  height: 24px;
}

.navbar-icon .box {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
}

.hero-text {
  margin-top: 50px;
  font-size: 243px;
  text-align: center;
  font-weight: 700;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
